body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8 ;
  margin: 0;
  padding: 0;
}

.app {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
}

input {
  width: 70%;
  padding: 8px;
  margin-right: 5px;
}

button {
  padding: 8px 12px;
  border: none;
  background: #4f46e5;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background: #4338ca;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.filter button {
  background: #e5e7eb;
  color: black;
}

.filter button:hover {
  background: #d1d5db;
}
